

<h3 class="title">Persona: {{persona.id}}</h3>
<div class="actions" >
  <button [routerLink]="'/editarPersona/'+persona.id">Modificar</button>
  <button (click)="eliminarPersona()">Eliminar</button>
</div>
<div class="content">
  <p>
    Id: {{persona.id}}
  </p>
  <p>
    Nombre: {{persona.nombre}}
  </p>
  <p>
    Tipo de Documento: {{persona.tipoDocumento}}
  </p>
  <p>
    Nro de Documento: {{persona.nroDocumento}}
  </p>
  <p></p>
    Solicitudes: {{persona.listaSolicitudes.length}}

      <ul *ngFor="let solicitud of persona.listaSolicitudes">
        <li>Solicitud: {{solicitud.id}} </li>
        <li>Institucion: {{solicitud.institucionNombre}} </li>
        <li>Estado: {{solicitud.estadoNombre}} </li>
      </ul>


    